<div class="box3">
    <div class="g">
      <img src="./images/SPE-logo 2.png" alt="logo" style="width: 5rem;">

      <div class="icons" id="contact">
        <img src="./images/icon-facebook.svg" alt="facebook" class="facebook">
        <img src="./images/icon-linkedin.svg" alt="linkedin" class="linkedin">
        <img src="./images/icon-instagram.svg" alt="instagram" class="instagram">
      </div>
      <hr>
    </div>
    <div class="h">
      <div>
        <a class="heading" href="/Home">Our Organisation</a>
        <br>
        <a href="/Home#Who-We-Are">Who We Are</a>
        <a href="/Home#Our-Vision">Our Vision</a>
        <a href="/Home#Our-Board">Our Board</a>
      </div>

      <div>
        <a class="heading" href="/Activities">Activities</a>
        <br>
        <a href="/Activities#Achievements">Achievements</a>
        <a href="/Activities#Events">Events</a>
        <a href="/Activities#courses">courses</a>
      </div>

      <div>
        <a class="heading" href="/Programs">Our Programs</a>
        <br>
        <a href="/Programs#E4ME">E4ME</a>
        <a href="/Programs#SPEcares">SPEcares</a>
        <a href="/Programs#SPEak">SPEak</a>
      </div>


    </div>
    <div class="credits">
      <p>
        ©2023 SPE AUSC. All Rights Reserved. Created by <a href="/Website-Team">SPE Alex Development Team</a>
      </p>
    </div>
  </div>
  
  <script src="/index.js"></script>
</body>
</html>