<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="icon" type="image/png" sizes="32x32" href="/images/SPE-logo.png">
  <link rel="stylesheet" href="css/Styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">
  <title>SPE AUSC</title>

</head>
<body>
  <div class="box1">
    <div class="header">  
      <img src="./images/SPE-logo 2.png" alt="logo" style="width: 5rem;">
      <div>
        <a href="/Home">
          Home
        </a>
        <a href="/Activities">
          Activities
        </a>
        <a href="/Programs">
          Our Programs 
        </a>
        <!--<a href="/Website-Team">
          Our Website Team
        </a>-->
        <button class="btn">
          Contact Us
        </button>
      </div>
      <img src="./images/icon-hamburger.svg" alt="hamburger" class="hamburger">
    </div>

    <div class="menu">
      <a href="/Home">
        Home
      </a>
      <a href="/Activities">
        Activities
      </a>
      <a href="/Programs">
        Our Programs 
      </a>
      <!--<a href="/Website-Team">
        Our Website Team
      </a>-->
      <button class="btn">
        Contact Us
      </button>
    </div>
  </div>