<%- include("partials/header"); -%>


  <div class="box2 events" id="Achievements">
    <h2>
        Our Achievements
    </h2>
    <div class="Excellence-Award">
        <h2>
            Excellence Award.
        </h2>
        <p>
            After completing season 21-22, which was a variety of
            activities, we were honored with the Excellence Award.
        </p>
    </div>
    <div class="Engineers-Syndicate">
        <h2>
            Engineers Syndicate's Honoring.
        </h2>
        <p>
            Our participation in the Alexandria Youth Forum at the
            Alexandria Syndicate, where we were honored by the Syndicate.
        </p>
    </div>
    <div class="Konsowa">
        <h2>
            Prof. Dr. Abdel Aziz Konsowa Honoring.
        </h2>
        <p>
            Prof. Dr. Abdel Aziz Konsowa, President of Alexandria
            University, honored us for winning the Excellence Award.
        </p>
    </div>
    <h2>
        Our Events
    </h2>
    <div class="RETBE" id="Events">
        <h2>
            RETBE - The Role of Engineering Towards a Better Environment.
        </h2>
        <p>
            We were honored to organize the
            international conference
            “The Role of Engineering towards
            a Better Environment” RETBE’21 in its
            twelfth edition.
            The theme of the 2021 conference
            was “Vision 2030: Engineering
            Challenges in the Amidst a Pandemic”.
            The conference was held from
            December 20-22, 2021, in Alexandria,
            Egypt
        </p>
    </div>
    <div class="PACE">
        <h2>
            PACE - Petroleum Arabian Conference and Exhibition.
        </h2>
        <p>
            For 4 years we managed to Provide
            Petroleum Students with experts in the
            Oil & Gas industry, and the place that
            will bring them together is PACE to gain
            the most knowledge.
            So we are proud to present to
            you the 5th edition of the Petroleum
            Arabian Conference and Exhibition
            with collaboration between 4 SPE
            student chapters: Suez, AUC, Cairo, and
            Alexandria.
            PACE is the perfect place to meet
            experts from major companies in
            the Oil & Gas industry and exchange
            experiences with them, As It Was for 3
            days «16,17,8 March» full of Sessions,
            Panel Discussions, Competitions, and
            Exhibition.
        </p>
    </div>
    <div class="threeCs">
        <h2>
            3Cs: Climate change Conference.
        </h2>
        <p>
            The conference was implemented
            in cooperation with Schlumberger SLB
            and Chemical Horizon
            The conference was implemented at
            the Faculty of Engineering, Alexandria
            University, on September 14, 2022
        </p>
    </div>
    <div class="ROBC">
        <h2>
            ROBC 23 | Redirection into green time.
        </h2>
        <p>
            In cooperation With NMOLE Team, We
            organized the second Version of ROBC
            Which contain these topics:
            - Green Hydrogen
            - Green Ammonia
            We all notice the changes that are
            taking place in the world at the level
            of energy and climate, and what is the
            world interested in in the field of clean
            energy.
            Of course, as a chemical or
            mechanical engineer, cannot graduate
            and still have no idea about the world›s
            movement in the direction of clean
            energy.
        </p>
    </div>
    <div class="CCRA">
        <h2>
            Climate Change between Risks and Adaptation.
        </h2>
        <p>
            Climate Change between
            Risks and Adaptation, which was held at
            the Faculty of Engineering, Alexandria
            University, in cooperation with the
            Environmental Affairs Agency.
        </p>
    </div>
    <h2>
        Courses
    </h2>
    <div class="midyear-courses" id="courses">
        <h2>
            Mid Year Courses.
        </h2>
        <p>
            The most important goal of SPE ALEX is to develop students' skills and help them in their career;
            we organized 4 courses in midyear: MATLAB, Drilling, PLC, Safety.
        </p>
    </div>
    <div class="Summer-courses">
        <h2>
            Summer Courses.
        </h2>
        <p>
            The most important goal of SPE ALEX is to develop students' skills and help them in their career;
            we organized 4 courses in midyear: MOS, MATLAB, Hysys
        </p>
    </div>
  </div>

  <%- include("partials/footer"); -%>
