<%- include("partials/header"); -%>

    <div class="a" id="Who-We-Are">
      <div>
        <hr>
        <h1>
          SPE Alexadria University Student Chapter
        </h1>
        <p>
          SPE Alex, Society of Petroleum Enigineers Alexandria University
          Student Chapter, was founded in 2010.
          Our main goal is to shorten the gap between the theoritical
          approach we happen to study in college and the industrial approach we
          happen to witness by Engineers in the field.
        </p>
        <button>
          Contact Us
        </button>
      </div>
      <img src="./images/SPE-logo.png">
    </div>

  </div>

  <div class="box2">
    <h2>
      Who We Are
    </h2>
    <div class="m">
      <div>
        <h2>
          SPE International
        </h2>
        <p>
          The Society of Petroleum Engineers (SPE) is a not-for-profit professional 
          association with more than 119,000 members in 138 countries engaged 
          in the exploration and production of oil and gas and related energy resources.
          SPE is a key technical and professional resource providing 
          opportunities to exchange information at in-person and online events and through training,
          publications, and member programs. 
        </p>
      </div>
      <div>
        <h2>
          SPE AUSC
        </h2>
        <p>
          SPE Alex, Society of Petroleum Enigineers Alexandria University
          Student Chapter, was founded in 2010.
          Our main goal is to shorten the gap between the theoritical
          approach we happen to study in college and the industrial approach we
          happen to witness by Engineers in the field.
        </p>
      </div>
    </div>
    
    <div class="n" id="Our-Vision">
        <h2>
          Our Vision
        </h2>
        <p>
          Enhance the oil and gas and petroleum community’s ability, to be able to meet
          the world’s energy in a safe, environmentally responsible, and sustainable manner.
        </p>
    </div>
    <div class="b">
      <div class="c">
        <img src="./images/icon-snappy-process.svg" alt="snappy-process">
        <h3>
          Oil & Gas
        </h3>
        <p>
          collect, disseminate,
          provide, and exchange technical knowledge concerning the exploration,
          development, and production of oil and gas resources, Petroleum industry,
          and related technologies for the public benefit.
        </p>
      </div>

      <div class="d">
        <img src="./images/icon-affordable-prices.svg" alt="affordable-prices">
        <h3>
          Free Service For Students
        </h3>
        <p>
          provide opportunities
          for students and professionals to enhance their technical and professional
          competence, and enhance their awareness by more events and occasions
          technical and non-technical.
        </p>
      </div>

      <div class="e">
        <img src="./images/icon-people-first.svg" alt="people-first">
        <h3>
          People First
        </h3>
        <p>
          improve volonteers personal and technical skills with sessions and courses they need.
        </p>
      </div>

    </div>

    <div class="f">
      <h2>
        Find out more about how we work
      </h2>
      <div>
        <button class="work">
          How we work
        </button>
      </div>
    </div>
    <div class="l">
      <h2>
        Our Board
      </h2>
      <div class="High-Board" id="Our-Board">

        <a href="https://www.linkedin.com/in/dina-elgayar-3a66a9136/">
        <div class="Faculty-advisor">
          <span>
            DR. DINA ELGAYER
          </span>
          <br>
          <span>
            Faculty advisor
          </span>
        </div>
        </a>

        <a href="https://www.linkedin.com/in/ahmedsami2000/">
        <div class="President">
          <span>
            AHMED SAMY
          </span>
          <br>
          <span>
            President
          </span>
        </div>
        </a>

        <a href="https://www.linkedin.com/in/sarah-riad-016a99218/">
        <div class="Vice-President">
          <span>
            SARAH RIAD
          </span>
          <br>
          <span>
            Vice-President
          </span>
        </div>
        </a>

        <a href="https://www.linkedin.com/in/nour-talaat-985b7626b">
        <div class="Secretary">
          <span>
            NOUR TALAAT
          </span>
          <br>
          <span>
            Secretary
          </span>
        </div>
        </a>

        <a href="https://www.linkedin.com/in/sohailsameh">
        <div class="Membership-Chairperson">
          <span>
            SOHAIL SAMEH
          </span>
          <br>
          <span>
            Membership Chairperson
          </span>
        </div>
        </a>

        <a href="https://www.linkedin.com/in/rewan-ali-2a091b205">
          <div class="Program-Chairperson">
            <span>
              REWAN ALI
            </span>
            <br>
            <span>
              Program Chairperson
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/abdelrahman-khaled-717b7426b">
          <div class="Webmaster">
            <span>
              ABDELRAHMAN KHALID
            </span>
            <br>
            <span>
              Webmaster
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/reem-mamdouh-b92046270">
          <div class="Reem">
            <span>
              REEM MAMDOUH
            </span>
            <br>
            <span>
              AC HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/a-laa-ebrahim-22145b27a/">
          <div class="Alaa-ebrahem">
            <span>
              ALAA EBRAHEM
            </span>
            <br>
            <span>
              AC VICE-HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/alaa-hesham-778b10213/">
          <div class="Alaa-hesham">
            <span>
              ALAA HESHAM
            </span>
            <br>
            <span>
              PR HEAD
            </span>
          </div>
        </a>

        <a>
          <div class="MARWAN">
            <span>
              MARWAN SABER
            </span>
            <br>
            <span>
              OC HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/farah-ashraf-09b5b6285/">
          <div class="FARAH">
            <span>
              FARAH ASHRAF
            </span>
            <br>
            <span>
              OC VICE-HEAD
            </span>
          </div>
        </a>


        <a href="https://www.linkedin.com/in/toqa-ahmed-02125a259/">
          <div class="Toqa">
            <span>
              TOQA AHMED
            </span>
            <br>
            <span>
              E4ME HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/wafaa-hussin-57ab3821b/">
          <div class="wafaa">
            <span>
              WAFAA HUSSIN
            </span>
            <br>
            <span>
              SPECARES HEAD
            </span>
          </div>
        </a>

        <a href="http://linkedin.com/in/menna-selim-19a7ba301">
          <div class="Menna">
            <span>
              MENNA TALLAH ELSHREF
            </span>
            <br>
            <span>
              SPEAK HEAD
            </span>
          </div>
        </a>


      </div>
    </div>
  </div>

  <%- include("partials/footer"); -%>
