<%- include("partials/header"); -%>

    <div class="a" id="Who-We-Are">
      <div>
        <hr>
        <h1>
          SPE Alexadria University Student Chapter
        </h1>
        <p>
          SPE Alex, Society of Petroleum Enigineers Alexandria University
          Student Chapter, was founded in 2010.
          Our main goal is to shorten the gap between the theoritical
          approach we happen to study in college and the industrial approach we
          happen to witness by Engineers in the field.
        </p>
        <button>
          Contact Us
        </button>
      </div>
      <img src="./images/SPE-logo.png">
    </div>

  </div>

  <div class="box2">
    <h2>
      Who We Are
    </h2>
    <div class="m">
      <div>
        <h2>
          SPE International
        </h2>
        <p>
          The Society of Petroleum Engineers (SPE) is a not-for-profit professional 
          association with more than 119,000 members in 138 countries engaged 
          in the exploration and production of oil and gas and related energy resources.
          SPE is a key technical and professional resource providing 
          opportunities to exchange information at in-person and online events and through training,
          publications, and member programs. 
        </p>
      </div>
      <div>
        <h2>
          SPE AUSC
        </h2>
        <p>
          SPE Alex, Society of Petroleum Enigineers Alexandria University
          Student Chapter, was founded in 2010.
          Our main goal is to shorten the gap between the theoritical
          approach we happen to study in college and the industrial approach we
          happen to witness by Engineers in the field.
        </p>
      </div>
    </div>
    
    <div class="n" id="Our-Vision">
        <h2>
          Our Vision
        </h2>
        <p>
          Enhance the oil and gas and petroleum community’s ability, to be able to meet
          the world’s energy in a safe, environmentally responsible, and sustainable manner.
        </p>
    </div>
    <div class="b">
      <div class="c">
        <img src="./images/icon-snappy-process.svg" alt="snappy-process">
        <h3>
          Oil & Gas
        </h3>
        <p>
          collect, disseminate,
          provide, and exchange technical knowledge concerning the exploration,
          development, and production of oil and gas resources, Petroleum industry,
          and related technologies for the public benefit.
        </p>
      </div>

      <div class="d">
        <img src="./images/icon-affordable-prices.svg" alt="affordable-prices">
        <h3>
          Free Service For Students
        </h3>
        <p>
          provide opportunities
          for students and professionals to enhance their technical and professional
          competence, and enhance their awareness by more events and occasions
          technical and non-technical.
        </p>
      </div>

      <div class="e">
        <img src="./images/icon-people-first.svg" alt="people-first">
        <h3>
          People First
        </h3>
        <p>
          improve volonteers personal and technical skills with sessions and courses they need.
        </p>
      </div>

    </div>

    <div class="f">
      <h2>
        Find out more about how we work
      </h2>
      <div>
        <button class="work">
          How we work
        </button>
      </div>
    </div>
    <div class="l">
      <h2>
        Our Board
      </h2>
      <div class="High-Board" id="Our-Board">

        <a href="https://www.linkedin.com/in/dina-elgayar-3a66a9136/">
        <div class="Faculty-advisor">
          <span>
            DR. DINA ELGAYER
          </span>
          <br>
          <span>
            Faculty advisor
          </span>
        </div>
        </a>

        <a href="https://www.linkedin.com/in/fady-elsayed-679600216/">
        <div class="President">
          <span>
            FADY ELSAID
          </span>
          <br>
          <span>
            President
          </span>
        </div>
        </a>

        <a href="https://www.linkedin.com/in/ahmedsami2000/">
        <div class="Vice-President">
          <span>
            AHMED SAMY
          </span>
          <br>
          <span>
            Vice-President
          </span>
        </div>
        </a>

        <a href="https://www.linkedin.com/in/sarah-riad-016a99218/">
        <div class="Secretary">
          <span>
            SARAH RIAD
          </span>
          <br>
          <span>
            Secretary
          </span>
        </div>
        </a>

        <a href="https://www.linkedin.com/in/anas-ehab-612778241/?fbclid=IwAR2p9sDG54Gj_OzfI6BtYyr0J-rxgXueon9O4SIxVTpfjBb5-bo_jHtH5S8">
        <div class="Treasure">
          <span>
            ANAS EHAB
          </span>
          <br>
          <span>
            Treasure
          </span>
        </div>
        </a>

        <a>
        <div class="Membership-Chairperson">
          <span>
            YASSMIN IBRAHIM 
          </span>
          <br>
          <span>
            Membership Chairperson
          </span>
        </div>
        </a>

        <a href="https://www.linkedin.com/in/reem-mamdouh-b92046270">
          <div class="Reem">
            <span>
              REEM MAMDOUH
            </span>
            <br>
            <span>
              AC HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/nour-talaat-985b7626b">
          <div class="Nour">
            <span>
              NOUR TALAAT
            </span>
            <br>
            <span>
              AC VICE-HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/marehan-mhmd-7055631b8">
          <div class="Marehan">
            <span>
              MAREHAN MOHAMED
            </span>
            <br>
            <span>
              PR HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/shrouk-ibrahim-a05a32270">
          <div class="Shrouk">
            <span>
              SHROUK IBRAHIM
            </span>
            <br>
            <span>
              OC HEAD
            </span>
          </div>
        </a>

        <a>
          <div class="Radwan">
            <span>
              MOHAMED RADWAN
            </span>
            <br>
            <span>
              OC VICE-HEAD
            </span>
          </div>
        </a>

        <a>
          <div class="Salma">
            <span>
              SALMA IBRAHIM
            </span>
            <br>
            <span>
              OC VICE-HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/marina-nabil-70b4ba234">
          <div class="Marina">
            <span>
              MARINA NABIL
            </span>
            <br>
            <span>
              HR HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/sohailsameh">
          <div class="Sohail">
            <span>
              SOHAIL SAMEH
            </span>
            <br>
            <span>
              MM HEAD
            </span>
          </div>
        </a>

        <a>
          <div class="Allam">
            <span>
              YOUSEF ALLAM
            </span>
            <br>
            <span>
              MM VICE-HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/magd-mohammed-353a4a216">
          <div class="Magd">
            <span>
              MAGD MOHAMED
            </span>
            <br>
            <span>
              TR HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/jackie-abualeam/">
          <div class="Jackie">
            <span>
              JACKIE KAMAL
            </span>
            <br>
            <span>
              IT HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/abdelrahman-khaled-717b7426b">
          <div class="Abdelrahman">
            <span>
              ABDELRAHMAN KHALID
            </span>
            <br>
            <span>
              IT VICE-HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/rewan-ali-2a091b205">
          <div class="Rewan">
            <span>
              REWAN ALI
            </span>
            <br>
            <span>
              E4ME HEAD
            </span>
          </div>
        </a>

        <a>
          <div class="Radwan">
            <span>
              MOHAMED RADWAN
            </span>
            <br>
            <span>
              SPECARES HEAD
            </span>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/mohamed-alaa-0b021015a">
          <div class="Alaa">
            <span>
              MOHAMED ALAA
            </span>
            <br>
            <span>
              SPEAK HEAD
            </span>
          </div>
        </a>


      </div>
    </div>
  </div>

  <%- include("partials/footer"); -%>
