<%- include("partials/header"); -%>


  <div class="box2 programs">
    <h2>
      E4ME
    </h2>
    <a href="https://www.facebook.com/energy4mealex">
    <div class="E4ME" id="E4ME">
      <p>
        Energy4me is an international program, Which serves the society by teaching
        the schools’ students (8~18) the energy’s basics through sessions and workshops.
      </p>
    </div>
    </a>
    <h2>
      Our Activities
    </h2>
    <div class="Science-Festivity">
      <h2>
        Science Festivity
      </h2>
      <p>
        One of the initiatives of the Planetarium Science Center was to organize a
        Science Festival every year starting from 2007; In order to turn it into a national
        celebration in the coming years.
      </p>
    </div>
    <div class="Environmental-Day">
      <h2>
        Environmental Day
      </h2>
      <p>
        That was another awesome event we did in this season; we are very glad to
        do it annualy with Alexandria bibliotheca.
      </p>
    </div>
    <div class="Young-People-Library">
      <h2>
        Young People Library
      </h2>
      <p>
        We were not satisfied with all this, but we continued to be active, as the
        young people’s library was visited several times
      </p>
    </div>
    <div class="Young-People-Library-v1">
      <h2>
        Young People Library Visit #1
      </h2>
      <br>
      <h3>
        17/11/2022
      </h3>
    </div>
    <div class="Young-People-Library-v2">
      <h2>
        Young People Library Visit #2
      </h2>
      <br>
      <h3>
        20/2/2022
      </h3>
    </div>
    <div class="Young-People-Library-v3">
      <h2>
        Young People Library Visit #3
      </h2>
      <br>
      <h3>
        2/3/2022
      </h3>
    </div>
    <div class="Young-People-Library-v4">
      <h2>
        Young People Library Visit #4
      </h2>
      <br>
      <h3>
        9/3/2022
      </h3>
    </div>
    <div class="Young-People-Library-v5">
      <h2>
        Young People Library Visit #5
      </h2>
      <br>
      <h3>
        14/3/2022
      </h3>
    </div>
    <h2>
      SPEcares
    </h2>
    <div class="SPEcares" id="SPEcares">
      <p>
        SPE Cares is a global volunteering initiative of the Society of Petroleum
        Engineers (SPE) aimed to promote community service worldwide while bringing
        together students, young professionals, and experienced professionals. The
        goal is to shed a positive light on the oil and gas industry and make a difference
        in our community outside our careers
      </p>
    </div>
    <h2>
      Our Activities
    </h2>
    <div class="Orphan’s-Day-Party">
      <h2>
        Orphan’s Day Party, Be My Friend 2022
      </h2>
      <p>
        Organized by the Student Union of the Faculty of Engineering, Alexandria
        University
      </p>
    </div>
    <div class="Winter-clothing">
      <h2>
        Winter clothing
      </h2>
      <p>
        Works to visit hospitals, orphanages and the elderly and performs some
        seasonal tasks such as winter clothing, and we cooperated with Life Makers and
        life Family
      </p>
    </div>
    <div class="Ramadan-bags">
      <h2>
        Ramadan bags
      </h2>
      <p>
        In Ramadan, the month of goodness, SPE ALEX has a special imprint in the
        holy month!
        Ramadan bags were distributed through SPE Cares to bring happiness to the
        underprivileged
      </p>
    </div>
    <h2>
      SPEak
    </h2>
    <a href="https://www.facebook.com/SPEakannual/">
    <div class="SPEak" id="SPEak">
      <p>
        SPEak, the Society of Petroleum Engineers for Achieving Knowledge, 
        is a student petroleum and petrochemical magazine published annually by SPE AUSC. 
        The magazine covers the oil and gas news and technologies 
        to help students know more about the industry by filling the gap between the oil market and the academic knowledge.
      </p>
    </div>
    </a>
    <h2>
      2023 Issue 
    </h2> 
    <a href="https://drive.google.com/file/d/1gN6pAJC27UIV72VMFVTUbpDJD5mEcQJR/view">
      <div class="Issue23">
        <h2>
          You can read Our magazine here
        </h2>
      </div>
    </a>
    
  </div>

  <%- include("partials/footer"); -%>
