
<%- include("partials/header"); -%>
<div class="box2 Team">
    <h2>
        Season 22-23 & founding SPE AUSC site
    </h2>
    <div class="founder">
        <p>
            No-thing can beat the joy of seeing dream became true, 
            reach the students by all kind of means has always been 
            one of SPE AUSC goals to support the students by all resourses they need,
            and in this season 22-23 we have acheived that by many examples 
            like events, sessions, programs specially SPEak that we could revive agian
            and finally now we can gladly announce that we have a new mean to reach the students and it is the SPE AUSC Site.
            and all of that wouldn't have been done without the help of the magnificent ideas of IT committee 
            that i'm really thankful to have in our chapter and the effort they gave to acheive this.
        </p>
        <div>
            <img src="/images/Board-pics/samy.jpg">
            <h2>
                Ahmed Samy
            </h2>
            <p>
                Founder & Developer of SPE AUSC Site
            </p>
        </div>

    </div>
    <h2>
        Our IT team
    </h2>
    <div class="Designers">
        <a href="https://www.linkedin.com/in/jackie-abualeam/">
            <div class="Jackie">
              <span>
                JACKIE KAMAL
              </span>
              <br>
              <span>
                IT HEAD
              </span>
            </div>
          </a>
    
          <a href="https://www.linkedin.com/in/abdelrahman-khaled-717b7426b">
            <div class="Abdelrahman">
              <span>
                ABDELRAHMAN KHALID
              </span>
              <br>
              <span>
                IT VICE-HEAD
              </span>
            </div>
          </a>
    </div>

</div>

<%- include("partials/footer"); -%>
