body {
    background-color: white;
    margin: 0;
    font-family: 'Karla', sans-serif;
}
a, a:visited, a:hover, a:active {
    text-decoration: inherit;
    color: inherit;
}
/*box1*/
.box1 {
    display: grid;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    padding: 1rem 7rem;
    align-items: center;
}
.header a{
    font-weight: 700;
    color: hsl(216, 30%, 68%);
}
.header div{
    justify-self: end;
    display: grid;
    grid-template-columns: minmax(3rem, auto) minmax(6rem, auto) minmax(6rem, auto) minmax(10rem, auto) 1fr;
    grid-gap: 0.25rem;
    justify-items: center;
    align-items: center;
}
.header button {
    background-color: white;
    border: solid;
    border-width: 2px;
    padding: 0.5rem 1rem;
    font-weight: 700;
    border-color: hsl(256, 100%, 8%);
    color: hsl(256, 100%, 8%);
    text-transform: uppercase;
}
.hamburger {
    display: none;
}
.menu {
    display: none;
}
.a {
    padding: 5rem 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/bg-pattern-intro-left-desktop.svg), url(/images/bg-pattern-intro-right-desktop.svg), url(/images/oil_and_gas_companies.jpg);
    color: white;
    background-repeat: no-repeat;
    background-position-x: left, right;
    background-position-y: bottom, top, top;
    background-size: auto, auto, contain;
}
.a img {
    max-width: 100%;
}
.a h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    font-weight: 400;
}
.a div {
    padding-right: 5rem;
}
.a button {
    background-color: hsl(256, 100%, 8%);
    border: solid;
    border-width: 2px;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}
.a hr {
    width: 25%;
    float: left;
}
/*box2 Home*/
.box2 {
    padding: 1rem 7rem 10rem;
    display: grid;
    grid-gap: 3rem;
}
.box2 h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
}
.b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 0 0 5rem;
}
.b img {
    max-width: 100%;
}
.b h3 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 2rem;
}
.b p {
    color: hsl(216, 30%, 68%);
}
.f {
    background-color: hsl(256, 100%, 8%);
    background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    justify-items: center;
    align-items: center;
}
.f button {
    background-color: hsl(256, 100%, 8%);
    border: solid;
    border-width: 2px;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.25rem;
}
.f div {
    justify-self: end;
}
.m {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
}
.m h2{
    font-size: 2rem;
}
.m p {
    color: hsl(216, 30%, 68%);
}
.box2 p {
    font-size: 1.25rem;
}
.n {
    background-image: url(/images/Chapter_Group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 2rem 0 22rem;
}
.High-Board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem 10rem;
}
.High-Board div {
    padding: 20rem 0 0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.25rem;
    -webkit-box-shadow: 0 0 10rem 1rem #000 inset;
}
.High-Board span {
    padding: 1rem;
}
.Faculty-advisor{
    background-image: url(/images/Board-pics/Dina-El-Gayer.jpg);
}
.President{
    background-image: url(/images/Board-pics/fady.jpg);
}
.Vice-President {
    background-image: url(/images/Board-pics/samy.jpg);
}
.Secretary{
    background-image: url(/images/Board-pics/sarah.jpg);
}
.Treasure {
    background-image: url(/images/Board-pics/anas.jpg);
}
.Membership-Chairperson{
    background-image: url(/images/Board-pics/Yassmin.jpg);
}
.Reem {
    background-image: url(/images/Board-pics/Reem-Mamdouh.jpg);
}
.Nour{
    background-image: URL(/images/Board-pics/Nour-Talaat.jpg);
}
.Marehan{
    background-image: URL(/images/Board-pics/Marehan-Mohamed.jpg);
}
.Shrouk{
    background-image: URL(/images/Board-pics/Shrouck-Ibrahim.jpg);
}
.Radwan{
    background-image: URL(/images/Board-pics/Mohamed-Radwan.jpg);
}
.Salma{
    background-image: URL(/images/Board-pics/Salma-Ibrahem.jpg);
}
.Marina{
    background-image: URL(/images/Board-pics/Marina-Nabil.jpg);
}
.Sohail{
    background-image: URL(/images/Board-pics/Sohail-Sameh.jpg);
}
.Allam{
    background-image: URL(/images/Board-pics/Yousef-Allam.jpg);
}
.Magd{
    background-image: URL(/images/Board-pics/Magd-Mohamed.jpg);
}
.Jackie{
    background-image: URL(/images/Board-pics/Jackie-Kamal.jpg);
}
.Abdelrahman{
    background-image: URL(/images/Board-pics/Abdelrahman-Khalid.jpg);
}
.Rewan{
    background-image: URL(/images/Board-pics/Rewan-Ali.jpg);
}
.Alaa{
    background-image: URL(/images/Board-pics/Mohamed-Alaa.jpg);
}
/*box3*/
.box3 {
    display: grid;
    background-color: hsl(0, 0%, 98%);
    padding: 0;
    background-image: url(/images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.g {
    display: grid;

    justify-items: start;
    align-items: center;
    padding: 1rem 7rem;
}
.icons {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.icons img {
    filter: opacity(0.5);
}
.h {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: left;
    padding: 1rem 7rem 3rem;
    grid-gap: 3rem;
    text-transform: uppercase;
    font-weight: 900;
}
.h div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
}
.g hr{
    grid-column: 1/3;
    width: 100%;
    margin: 2rem 0 0;
}
.heading {
    font-weight: 400;
}
.credits {
    background-color: hsl(256, 100%, 8%);
    color: white;
    text-align: center;
}
/*activites*/
.events div{
    height: 25rem;
}
.RETBE {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Events/RETBE.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.RETBE h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.RETBE p {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.PACE {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Events/PACE.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.PACE h2 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 2rem;
    align-self: end;
}
.PACE p {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
}
.threeCs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Events/ThreeCs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.threeCs h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.threeCs p {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.CCRA {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Events/CCRA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.CCRA h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.CCRA p {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.ROBC {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Events/ROBC.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.ROBC h2 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 2rem;
    align-self: end;
}
.ROBC p {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
}
.Excellence-Award {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Events/Excellence-Award.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
    -webkit-box-shadow: 0 0 10rem 1rem #000 inset;
}
.Excellence-Award h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.Excellence-Award p {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.Engineers-Syndicate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Events/Engineers-Syndicate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Engineers-Syndicate h2 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 2rem;
    align-self: end;
}
.Engineers-Syndicate p {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
}
.Konsowa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Events/Konsowa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Konsowa h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.Konsowa p {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.midyear-courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Events/mid-year-courses.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.midyear-courses h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.midyear-courses p {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.Summer-courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Events/Summer-courses.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Summer-courses h2 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 2rem;
    align-self: end;
}
.Summer-courses p {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
}
/*Programs*/
.programs div{
    height: 28rem;
}
.E4ME {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/E4ME.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
    -webkit-box-shadow: 0 0 10rem 1rem #000 inset;
}
.E4ME p {
    grid-column: 1/2;
    align-self: center;
    font-size: 2rem;
}
.Science-Festivity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/Science-Festivity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Science-Festivity h2 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 2rem;
    align-self: end;
}
.Science-Festivity p {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
}
.Environmental-Day {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/Environmental-Day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Environmental-Day h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.Environmental-Day p {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.Young-People-Library {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/Young-People-Library.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Young-People-Library h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.Young-People-Library p {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.Young-People-Library-v1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/Young-People-Library-V1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Young-People-Library-v1 h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.Young-People-Library-v1 h3 {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.Young-People-Library-v2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/Young-People-Library-V2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Young-People-Library-v2 h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.Young-People-Library-v2 h3 {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.Young-People-Library-v3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/Young-People-Library-V3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Young-People-Library-v3 h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.Young-People-Library-v3 h3 {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.Young-People-Library-v4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/Young-People-Library-V4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Young-People-Library-v4 h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.Young-People-Library-v4 h3 {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.Young-People-Library-v5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/Young-People-Library-V5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Young-People-Library-v5 h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.Young-People-Library-v5 h3 {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.SPEcares {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/SPEcares.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
    -webkit-box-shadow: 0 0 10rem 1rem #000 inset;
}
.SPEcares p {
    grid-column: 1/2;
    align-self: center;
    font-size: 2rem;
}
.Orphan’s-Day-Party {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/Orphan’s-Day-Party.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Orphan’s-Day-Party h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.Orphan’s-Day-Party p {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.Winter-clothing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/Winter-clothing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Winter-clothing h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.Winter-clothing p {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.Ramadan-bags {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/Ramadan-bags.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
}
.Ramadan-bags h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2rem;
    align-self: end;
}
.Ramadan-bags p {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.SPEak {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/Programs/SPEak.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1rem;
    -webkit-box-shadow: 0 0 10rem 1rem #000 inset;
}
.SPEak p {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
}
.Issue23{
    background-image: url(/images/Programs/SPEak-2-Issue.jpg);
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0 0 10rem 1rem #000 inset;
    display: grid;
}
.Issue23 h2 {
    color: white;
    align-self: end;
}
/*website*/
.founder{
    padding: 7rem 0 7rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/bg-pattern-intro-left-desktop.svg), url(/images/bg-pattern-intro-right-desktop.svg), linear-gradient(hsl(256, 100%, 8%) 100%, white 0);
    color: white;
    background-repeat: no-repeat;
    background-position-x: left, right;
    background-position-y: bottom, top, top;
    background-size: auto, auto, contain;
}
.founder h2{
    font-size: 2rem;
}
.founder img {
    max-width: 50%;
}
.founder div{
    text-align: center;
}
.Designers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem 10rem;
}
.Designers div {
    padding: 20rem 0 0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.25rem;
    -webkit-box-shadow: 0 0 10rem 1rem #000 inset;
}
/*active states*/
.header button:hover{
    background-color: hsl(256, 100%, 8%);
    color: white;
    cursor: pointer;
}
.header a:hover{
    color: hsl(256, 100%, 8%);
    cursor: pointer;
}
.a button:hover{
    background-color: white;
    color: hsl(256, 100%, 8%);
    border-color: white;
    cursor: pointer;
}
.f button:hover{
    background-color: white;
    color: hsl(256, 100%, 8%);
    border-color: white;
    cursor: pointer;
}
.h a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.icons img:hover{
    cursor: pointer;
    filter: brightness(0.5);
}
.High-Board div:hover {
    cursor: pointer;
    -webkit-box-shadow: unset;
}
.menu a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.menu button:hover {
    background-color: white;
    color: hsl(256, 100%, 8%);
    border-color: white;
    cursor: pointer;
}
.E4ME:hover{
    -webkit-box-shadow:unset;
    cursor: pointer;
}
.SPEak:hover{
    cursor: pointer;
    -webkit-box-shadow: unset;

}
/*responsive*/
@media (max-width:1024px) and (min-width:768px) {
    .header{
        padding: 1rem 3rem;
    }
    .a {
        padding: 5rem 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(/images/bg-pattern-intro-left-desktop.svg), url(/images/bg-pattern-intro-right-desktop.svg), url(/images/oil_and_gas_companies.jpg);
        color: white;
        background-repeat: no-repeat;
        background-position-x: left, right;
        background-position-y: bottom, top, top;
        background-size: auto, auto, cover;
    }
    .a div {
        padding-right: 1rem;
    }
    .box2{
        padding: 1rem 3rem 10rem;
    }
    .g {
        padding: 1rem 3rem;
    }
    .h {
        padding: 1rem 3rem;
    }
    .f {
        background-size: cover;
    }
    .High-Board{
        grid-template-columns: 1fr 1fr;
    }
    .Designers{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:768px) {
    .header {
        padding: 1rem;
    }
    .header div {
        display: none;
    }
    .hamburger {
        display: unset;
        justify-self: end;
    }
    .click {
        display: grid;
        justify-items: center;
        grid-gap: 2rem;
        padding: 20% 0 100%;
        background-color: hsl(256, 100%, 8%);
        color: white;
        background-image: url(/images/bg-pattern-mobile-nav.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }
    .click button {
        background-color: hsl(256, 100%, 8%);
        border: solid;
        border-width: 2px;
        padding: 0.5rem 1rem;
        color: white;
        font-weight: 400;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
    }
    .a {
        background-image: url(/images/bg-pattern-intro-left-desktop.svg), url(/images/bg-pattern-intro-right-desktop.svg), url(/images/oil_and_gas_companies.jpg);
        grid-template-columns: 1fr;
        background-size: auto, auto, cover;
        display: grid;
        color: white;
        padding: 5rem 1rem;
    }
    .a img{
        grid-row: 1/2;
        width: 100%;
    }
    .a div {
        padding: 1rem;
        text-align: center;
        background-repeat: no-repeat;
        background-position-x: left, right;
        background-position-y: top, bottom;
    }
    .a hr {
        float: unset;
    }
    .a h1 {
        font-size: 2.25rem;
    }
    .box2{
        padding: 1rem 1rem 10rem;
        text-align: center;
    }
    .box2 h2 {
        font-size: 2rem;
    }
    .b {
        grid-template-columns: 1fr;
    }
    .f {
        grid-template-columns: 1fr;
        padding: 0 3rem 3rem;
        background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
    }
    .f div {
        justify-self: center;
        background-size: contain;
    }
    .box3 {
        background-image: url(/images/bg-pattern-footer-mobile.svg);
        background-position: left top;
        background-size: contain;
    }
    .g {
        padding: 1rem;
        grid-template-columns: 1fr;
        justify-items: center;
        grid-gap: 1.5rem;
    }
    .icons{
        justify-self: center;
    }
    .g hr{
        grid-column: 1/2;
    }
    .h {
        padding: 1rem;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
    .m {
        display: unset;
    }
    .High-Board{
        grid-template-columns: 1fr;
    }
    .High-Board div {
        background-position-y: top;
    }
    .Excellence-Award {
        grid-template-columns: 1fr;
    }
    .Engineers-Syndicate {
        grid-template-columns: 1fr;
    }
    .RETBE {
        grid-template-columns: 1fr;
    }
    .PACE {
        grid-template-columns: 1fr;
    }
    .threeCs {
        grid-template-columns: 1fr;
    }
    .ROBC {
        grid-template-columns: 1fr;
    }
    .CCRA {
        grid-template-columns: 1fr;
    }
    .Konsowa {
        grid-template-columns: 1fr;
    }
    .midyear-courses {
        grid-template-columns: 1fr;
    }
    .Summer-courses{
        grid-template-columns: 1fr;
    }
    .E4ME{
        grid-template-columns: 1fr;
    }
    .Science-Festivity{
        grid-template-columns: 1fr;
    }
    .Environmental-Day{
        grid-template-columns: 1fr;
    }
    .Young-People-Library{
        grid-template-columns: 1fr;
    }
    .Young-People-Library-v1{
        grid-template-columns: 1fr;
    }
    .Young-People-Library-v2{
        grid-template-columns: 1fr;
    }
    .Young-People-Library-v3{
        grid-template-columns: 1fr;
    }
    .Young-People-Library-v4{
        grid-template-columns: 1fr;
    }
    .Young-People-Library-v5{
        grid-template-columns: 1fr;
    }
    .SPEcares {
        grid-template-columns: 1fr;
    }
    .Orphan’s-Day-Party{
        grid-template-columns: 1fr;
    }
    .Winter-clothing {
        grid-template-columns: 1fr;
    }
    .Ramadan-bags{
        grid-template-columns: 1fr;
    }
    .SPEak{
        grid-template-columns: 1fr;
    }
    .programs p {
        font-size: 1.25rem;
    }
    .events p {
        font-size: 0.75rem;
    }
    .founder {
        grid-template-columns: 1fr;
        padding: 1rem;
        background-image: url(/images/bg-pattern-intro-left-desktop.svg), linear-gradient(hsl(256, 100%, 8%) 100%, white 0);
    }
    .founder div {
        grid-row: 1/2;
    }
    .founder p {
        grid-row: 2/3;
    }
    .founder img {
        max-width: 75%;
    }
    .Designers{
        grid-template-columns: 1fr;
    }
}